.companyTree-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.input-wrapper {
  width: 30%;
  margin: 10px 0;
  display: inline-block;
}
.radio-wrapper {
  margin: 10px 0;
  display: inline-block;
}